body {
  margin: 0px;
  padding: 0px;
}

header {
	/*background-image: url(../img/background.jpg);*/
	background-color: #272822;
	margin: 0px;
	padding: 40px 0px 0px 0px;
}

#title {
	text-align: center;
	font-size: 72px;
	color: white;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

h1, h2, h3 {
  text-align: center;
	color: #272822;
}

p {
  text-align: center;
	color: #272822;
}

a {
	color: #990000;
	text-decoration: none;
}

a:hover {
	color: #272822;
}
